.venv/
build/
*.egg-info/
dist/
test/__pycache__/
__pycache__/
test/target/
.eggs/
*~
/source/cleanX.rst
/source/modules.rst
/conda-pkg/meta.yaml
/conda-pkg/bld.bat
/source/cleanX.*.rst
.ipynb_checkpoints
/docs/cleanX.rst
/docs/modules.rst
/docs/cleanX.*.rst
/workflow_demo/Coronahack-Chest-XRay-Dataset