name: Sanity
on: [push]
jobs:
  Sanity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get install -y libleptonica-dev tesseract-ocr-all
      - run: sudo apt-get install -y libtesseract-dev
      - run: sudo apt-get install -y python3-opencv
      - run: python3 -m venv .venv
      - run: .venv/bin/python -m pip install wheel
      - run: .venv/bin/python setup.py install
      - run: .venv/bin/python setup.py test --pytest-args "--junit-xml junit-report.xml"
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: junit-report.xml
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get install -y libleptonica-dev tesseract-ocr-all
      - run: sudo apt-get install -y libtesseract-dev
      - run: sudo apt-get install -y python3-opencv
      - run: python3 -m venv .venv
      - run: .venv/bin/python -m pip install wheel
      - run: .venv/bin/python setup.py lint

  Sphinx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get install -y libleptonica-dev tesseract-ocr-all
      - run: sudo apt-get install -y libtesseract-dev
      - run: sudo apt-get install -y python3-opencv
      - run: sudo apt-get install -y dvipng
      - run: python3 -m venv .venv
      - run: .venv/bin/python -m pip install wheel
      - run: .venv/bin/python setup.py install
      - run: .venv/bin/python setup.py apidoc
      - run: .venv/bin/python setup.py build_sphinx
      - name: Publish Docs to Pages
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages
          folder: build/sphinx/html

  CondaBuild:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - uses: s-weigand/setup-conda@v1
        with:
          conda-channels: conda-forge
      - run: python3.8 -m venv .venv
      - run: .venv/bin/python setup.py genconda
      - run: conda install conda-build
      - run: conda build -c conda-forge ./conda-pkg/
